.DS_Store
IosAutomationproject/.DS_Store
/IosAutomationProject/IosAutomationproject/obj/.DS_Store
/IosAutomationProject/IosAutomationproject/obj/TestResults/.DS_Store
/IosAutomationProject/IosAutomationproject/obj/TestResults/
*.DS_Store
**/TestResults/*.DS_Store